<div class="custom-file-upload">
  <label for="file-upload-front">choose front image</label>
  <input id="file-upload-front" type="file" class="form-control">
</div>
<div class="custom-file-upload">
  <label for="file-upload-back">choose back image</label>
  <input id="file-upload-back" type="file" class="form-control">
</div>
<div class="custom-file-upload">
  <label for="file-upload-portrait">choose portrait image</label>
  <input id="file-upload-portrait" type="file" class="form-control">
</div>
